/*=======---  Example CSS styling  ---=======*/
/* Any CSS here will apply to your document! */

.page {
	width : 296.4mm;
	height : 209.5mm;
	padding: 10mm 10mm;
	column-count: 3;
	-webkit-column-count: 3;
  font-size: 3.5mm;
}

.page h1 {
  text-align: center;
  font-size: 16mm;
  line-height: 34mm;
  margin: 24mm auto;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 4mm;
}

.page p, .page ul {
  margin: 2mm auto;
}

.present {
  text-align: center;
  font-size: 6mm;
  baseline:top;
}
