/*=======---  Example CSS styling  ---=======*/
/* Any CSS here will apply to your document! */

.page {
	width : 296.4mm;
	height : 209.5mm;
	padding: 20px 20px;
	column-count: 3;
	-webkit-column-count: 3;
  font-size: 13px;
  line-height: 15px;
  position: relative;
}

.page h1 {
  text-align: center;
  font-size: 16mm;
  line-height: 34mm;
  margin: 24mm auto;
}
.page h2 {
  border-bottom: solid 0.5mm #e73;
}
.page h3 {
  margin: 18px auto;
  margin-left: 10mm;
  background: blanchedAlmond;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 4mm;
}

.page p, .page ul {
  margin: 2mm auto;
}

.df { color: chocolate; }

.present {
  display: grid;
  flex-direction: row;
  font-size: 4.5mm;
  justify-content: center;
  align-items: center;
  gap: 0.5mm 3mm;
}
.present .df {
  font-size: 6mm;
  vertical-align: center;
}
.present .df p { display: inline; }
.present p { display: none; }
.present .lab {
  grid-row-start: 2;
}
.present .arrow {
  grid-row-start: 1;
  grid-row-end: 3;
}

.page table th {
  background: #ea7;
  padding: 0.7mm 0.2mm;
}
.page table tr:nth-child(even) {
  background: #feb;
}
.page table td {
  align-content: center;
  padding: 2px 4px;
}

.papier_cuisson {
  margin: 4px;
  border: solid 1px chocolate;
  padding: 4px;
  position: relative;
}
.papier_cuisson h2 {
  font-variant: small-caps;
  text-align: center;
  font-size: 2em;
}
.papier_cuisson tr td {
  padding: 3px;
}
.papier_cuisson .entitled {
  margin-bottom: 12px;
}
.papier_cuisson .entitled td {
  padding: 5px;
}
.papier_cuisson .entitled td:nth-child(1) {
  width: 90px;
}
.papier_cuisson .entitled td:nth-child(2) {
  border-bottom: solid 1px chocolate;
}
.papier_cuisson .saveurs tr:nth-child(odd) td:nth-child(2) {
  font-size: 0.9em;
}
.papier_cuisson .saveurs tr:nth-child(odd) td {
  padding: 12px 0 3px 0;
}
.papier_cuisson .saveurs tr:nth-child(even) td,
.papier_cuisson .garniture tr:nth-child(even) td {
  font-size: 1.3em;
  padding: 7px;
}
.papier_cuisson .garniture tr:nth-child(odd) td {
  color: #ddd;
  font-weight: bold;
  border-bottom: solid 1px chocolate;
  padding: 5px 0;
}
.papier_cuisson .options tr:nth-child(1) td {
  padding-top: 34px;
}
.papier_cuisson .options tr:nth-child(2) td {
  padding-bottom: 30px;
}
.papier_cuisson .options tr td {
  background: white;
  padding: 7px;
  font-size: 1.2em;
}


.regles {
  box-sizing: border-box;
  margin: 7px auto;
  padding: 7px;
  background: blanchedalmond;
  border: solid 1px chocolate;
}
