/*=======---  Example CSS styling  ---=======*/
/* Any CSS here will apply to your document! */

.page {
	width : 296.4mm;
	height : 209.5mm;
	padding: 10mm 10mm;
	column-count: 3;
	-webkit-column-count: 3;
  font-size: 3.5mm;
}

.page h1 {
  text-align: center;
  font-size: 16mm;
  line-height: 34mm;
  margin: 24mm auto;
}
.page h2 {
  border-bottom: solid 0.5mm #e73;
}
.page h3 {
  margin-left: 10mm;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 4mm;
}

.page p, .page ul {
  margin: 2mm auto;
}

.df { color: chocolate; }

.present {
  display: grid;
  flex-direction: row;
  font-size: 4.5mm;
  justify-content: center;
  align-items: center;
  gap: 0.5mm 3mm;
}
.present .df {
  font-size: 6mm;
  vertical-align: center;
}
.present .df p { display: inline; }
.present p { display: none; }
.present .lab {
  grid-row-start: 2;
}
.present .arrow {
  grid-row-start: 1;
  grid-row-end: 3;
}

.page table th {
  background: #ea7;
  padding: 0.7mm 0.2mm;
}
.page table tr:nth-child(even) {
  background: #feb;
}
.page table td {
  align-content: center;
  padding: 1mm 2mm;
}

.papier_cuisson {
  margin:2mm;
  border: solid 1px chocolate;
  padding: 2mm;
}
.papier_cuisson h2 {
  font-variant: small-caps;
  text-align: center;
}
.papier_cuisson .entitled td:nth-child(1) {
  width: 24mm;
}
.papier_cuisson .entitled td:nth-child(2) {
  border-bottom: solid 1px chocolate;
}
